# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# venv
.venv/
venv/
ENV/
.venv/**

# env/secrets
.env
config.yaml

# logs / outputs
*.log
output/
reports/

# OS/editor
.DS_Store
.vscode/
.idea/

# Doxygen
html/
latex/
doxygen/